/*Propiedades body*/
body {margin-bottom: 25px;
      padding-left: 50px;
      padding-top: 50px;
      padding-right: 50px;
      width: 90%;
      background-color:#85dee7;
      background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
        radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
      background-size:80px 80px;
      background-position:0 0, 40px 40px;}

/*Propiedades header*/
.logo {position:relative;
      margin-left:20%;
      margin-top: 25px;}

#tit {position:absolute;
      display: inline;
      margin-bottom: 10px;
      padding: 20px;
      width: 50%;
      background-color:#85dee7;
      font-size: 4vw;
      font-family: Impact, Charcoal, sans-serif;
      text-align: center;}

/*Barra navegación horizontal, menú general*/
#horiz {display:relative;
        margin-top: 5%;
        margin-left:170px;
        width: 100%;
        font-family: "Trebuchet MS", Helvetica, sans-serif;}

#horiz a {color:inherit;
          font-size:1em;
          text-decoration:none;}

#horiz li {position: relative;
          display:inline-block;
          padding:10px 4px;
          width: 16vw;
          height:30px;
          background-color:#38b6c3;
          color:black;
          border:1px solid #38b6c3;
          font-weight: bold;
          text-align:center;}

#horiz li:hover {background-color:#85dee7;
                color:#000;}

#horiz li>ul {display:none;
              width: 15vw;}

#horiz li:hover>ul {position:absolute;
                    display:block;
                    top:40px;
                    left:0px;
                    background-color:#85dee7;
                    color:#000;}

/*Navegación apartados internos página*/
#indice {position:inherit;
          float:left;
          width:200px;
          height: auto;
          background:#38b6c3;
          font-size:20px;}

#indice ul {list-style: square;
            color: white;}

#indice ul li {position:relative;
                margin-right: 25%;
                margin-bottom: 15px;
                font-weight: bold;
                text-align: center;}

#indice ul li a {display:block;
                  color: white;
                  text-decoration:none;
                  line-height: 1.5em;
                  transition: all ease-out 300ms;}

/*Propiedades generales del cuerpo*/
article {position: inherit;
          margin-left: 210px;
          padding: 60px;
          width: 70%;
          background-color: #85dee7;
          font-size: 1em;
          font-family: "Trebuchet MS", Helvetica, sans-serif;
          text-align: left;}

aside {text-align: center;}

h2 {text-align: center;}

/*Propiedades tablas*/
table {display: inline-block;
        padding: 10px;
        background-color: #EBD7E1;
        color: #993366;
        border: thick double #38b6c3;
        border-collapse: collapse;
        text-align: center;}

th, caption {padding: 10px 20px;
              border:none;}

td {padding: 5px 20px;
    border: 1px solid;}

/*Propiedades listas*/
dt {padding: 15px 0 10px;
    font-weight: bold;}

/*Propiedades de elementos encajados, ejemplos*/
.marco {display: inline-block;
        padding: 10px 20px;
        background-color: #EBD7E1;
        color: #993366;
        border: thick double #38b6c3;
        text-align: left;}

#historia {display: block;
          margin:auto;
          border: thick double #38b6c3;}

.formt {float: right;
        margin-left: 15px;
        margin-bottom: 10px;
        border: thick double #38b6c3;}

.sub {vertical-align: sub;
      font-size: 0.75em;}

/*Pie de página*/
footer {position: relative;
        margin-left: 210px;
        bottom: 0;
        width:80%;
        min-height: 25px;
        background-color: black;
        color: white;
        font-size: 1em;
        text-align: center;}
