body {
  margin-bottom: 25px;
  width: 90%;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  background-color: white;
  background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.2) 99%),
  radial-gradient(closest-side, transparent 99%, rgba(0,0,0,.2) 99%);
  background-size:80px 80px;
  background-position:0 0, 40px 40px;
}
.logo{margin-left:10%;
      position:relative;
      }
#tit{
  position:absolute;
  margin-bottom: 10px;
  width: 50%;
  text-align: center;
  font-size: 4vw;
  display: inline;
  padding: 20px;
  background-color:lightgray;
}
#horiz{display:relative;
        width: 100%;
        margin-top: 5%;
        margin-left:170px;}
#horiz a{text-decoration:none;
          color:inherit;
          font-size:18px;}
#horiz li{display:inline-block;
          width: 16vw;
          height:30px;
          padding:10px 4px;
          background-color:gray;
          border:1px solid gray;
          text-align:center;
          color:black;
          font-weight: bold;
          position: relative;}

#horiz li:hover{
  background-color:lightgrey;
  color:black;
}

#horiz li>ul{
  display:none;
}


#horiz li:hover>ul{
  display:block;
  position:absolute;
  top:40px;
  left:0px;
  background-color:lightgray;
  color: black;
}
article {
  position: inherit;
  margin-left: 210px;
  text-align: left;
  width:70%;
  padding: 60px;
  background-color: lightgray;
  }
.toc{list-style:decimal;
      line-height: 1.5em;}
.toc a{text-decoration: none;
        color: black;}
.nivel2{list-style:circle;}

/*.marco{border-width: thick;
        border-style: double;
        border-color: #99657f;
        padding: 10px;
        padding-left: 20px;
        background-color: #85dee7;
        color: #73264D;
        text-align: left;
        display: inline-block;}

h2 {
  text-align: center;
}
th, td{background-color: #85dee7;
      color: #73264D;
      text-align: center;
      padding: 10px;
      border-width:thin;
      border-style: solid;
      border-color: #99657f}
aside{text-align: center;}*/
footer{text-align: center;
        background-color: black;
        position: static;
        bottom: 0;
        width:80%;
        margin-left: 240px;
        height: 25px;
        color: white;}
