/*Propiedades body*/
body {margin-bottom: 25px;
      padding-left: 50px;
      padding-top: 50px;
      padding-right: 50px;
      width: 90%;
      background-color: white;
      background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.2) 99%),
        radial-gradient(closest-side, transparent 99%, rgba(0,0,0,.2) 99%);
      background-size:80px 80px;
      background-position:0 0, 40px 40px;}

/*Propiedades header*/
.logo {position:relative;
      margin-left:10%;}

#tit {position:absolute;
      display: inline;
      margin-bottom: 10px;
      padding: 20px;
      width: 50%;
      background-color:lightgray;
      font-size: 4vw;
      font-family: Impact, Charcoal, sans-serif;
      text-align: center;}

/*Barra navegación horizontal, menú general*/
#horiz {display:relative;
        margin-top: 5%;
        margin-left:170px;
        width: 100%;
        font-family: "Trebuchet MS", Helvetica, sans-serif;}

#horiz a {color:inherit;
          font-size:1em;
          text-decoration:none;}

#horiz li {position: relative;
          display:inline-block;
          padding:10px 4px;
          width: 16vw;
          height:30px;
          background-color:gray;
          color:black;
          border:1px solid gray;
          font-weight: bold;
          text-align:center;}

#horiz li:hover {background-color:lightgray;
                color:black;}

#horiz li>ul {display:none;}

#horiz li:hover>ul {position:absolute;
                    display:block;
                    top:40px;
                    left:0px;
                    background-color:lightgray;
                    color: black;}

/*Propiedades generales del cuerpo*/
article {position: inherit;
          margin-left: 210px;
          padding: 60px;
          width:70%;
          background-color: lightgray;
          font-size: 1em;
          font-family: "Trebuchet MS", Helvetica, sans-serif;
          text-align: left;}

/*Propieaddes listas*/
ol {list-style:decimal;
    line-height: 1.5em;}

.nivel2 {list-style:circle;}

/*Links*/
a {color: black;
    text-decoration: none;}

/*Pie de página*/
footer {position: relative;
        margin-left: 210px;
        bottom: 0;
        width: 80%;
        min-height: 25px;
        background-color: black;
        color: white;
        font-size: 1em;
        text-align: center;}
